.body .html{
  font-size: 16px;
}
.wrapper{
  
  position: relative;
  min-height: 100%;
  overflow: hidden;
  width: 1448px;
  padding: 0 109px;
  
}
.content{
  min-width:1230px;
  height: auto;
  overflow: hidden;
  margin:0 auto;
  background-color: rgb(255, 255, 255);
  
  
}
.navigation{
  display: flex;
  margin:30px 10px;
}
.navigation_nav_Logo{
   list-style-type: none;
   font-size: 2em;
   font-weight: 900;
   margin-right: 170px;
   font-family: monospace;

  }

  .navigation_nav{
    display: inline;
    list-style-type: none;
    font-size: 1.6em;
    font-weight: 500;
    padding-left: 40px;
    margin-top: 6px;
    font-family: monospace;
    transition: 0.3s;
   }

.navigation_nav:hover{
  color: rgb(52, 158, 38);
}

.navigation_block_circle{
  margin-left: 80px;
  width: 35px;
  height: 35px;
  background-color: rgb(52, 158, 38);
  border-radius: 50%;
  transition: 0.3s;
}
.navigation_block_circle:hover{
  outline: rgba(66, 148, 84, 0.438) solid 10px;
  transform:scale(1.04);
}
.navigation_block_circle span{
  display: inline-flex;
  margin-top:25% ;
  margin-left: 50px;
  width: 200px;
  font-size: 1.3em;
  font-family: monospace;

}
.content2{
  background-color: rgb(255, 255, 255);
  margin-top: 90px;
}
h1{
  padding-top: 130px;
  font-size: 3.5em;
  width: 550px;
  font-family: monospace;
  font-weight: 800;
  line-height: 1.3;
  margin-left: 20px;
}
img{
  position:absolute;
  left: 680px;
  top: 27%;
  border-radius: 3%;
}
.button_1{
  margin-top: 40px;
  margin-left: 40px;
  width: 220px;
  height: 65px;
  background-color:rgb(52, 158, 38);
  border-radius: 25px;
  font-size: 1.5em;
  font-weight: 700;
  font-family: monospace;
  transition: 0.4s;
}
.button_1:hover{
  transform:scale(1.09);
}
.button_2{
  margin-left: 40px;
  width: 50px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  transition: 0.4s;
}
.button_2:hover{
  transform:scale(1.04);
}
h2{
  width: 200px;
  color: rgb(0, 0, 0);
  margin-left: 14px;
  font-size: 1.5em;
  font-family: monospace;
}
h3{
  margin-left: 40px;
  margin-top: 50px;
  color: rgb(0, 0, 0);
  font-size: 1.6em;
  font-family: monospace;
  padding-bottom: 80px;

}
.button_3{
  position: absolute;
  top: 30.67%;
  left: 706px;
  width: 220px;
  height: 70px;
  background-color: rgb(220, 221, 219);
  border-radius: 23px;
  font-size: 1.2em;
  font-weight: 900;
  transition: 0.3s;
}
.button_3_1{
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: rgba(52, 158, 38, 0.585);
  top: 21%;
  left: 15px;
  border-radius: 50%;

  

}
.button_3:hover{
  outline: rgba(202, 213, 204, 0.503) solid 13px;
  transform:scale(1.01);
}
